*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
}
body {
  background-color: var(--color-primary);
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  /* Primary colors */
  --color-primary: #ecf0f1;
  --color-primary-btn: #f6f8f8;
  --color-primary-btn-hover: #c5d1d4;
  /* Secondary colors */
  --color-secondary: #f00;
  --color-secondary-btn: #f66;
  --color-secondary-btn-hover: #e00;
}

/*
================================
 Content

================================
*/

/* General elements */

/* Button */
.btn {
  font-family: inherit;
  cursor: pointer;
  border: 2px solid black;
}
.btn:hover {
  background-color: var(--color-primary-btn-hover);
}
.btn--active {
  background-color: var(--color-secondary-btn);
}
.btn--active:hover {
  background-color: var(--color-secondary-btn-hover);
}
/* Span */
.span--bold {
  font-weight: 700;
}
/* Nav */
.nav {
  display: flex;
  justify-content: center;
}
/* Text */
.text--cheat-sheet {
  display: none;
  position: absolute;
  top: 5rem;
  left: 3rem;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}
.text--cheat-sheet .span--bold {
  color: var(--color-secondary);
}

@media only screen and (min-width: 701px) {
  .text--cheat-sheet {
    display: inline;
  }
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
  background-color: azure;
}
.head__label {
  padding: 0.5rem;
  font-size: 3rem;
  font-weight: 300;
  text-align: center;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 100%;
}
.main__content {
  height: 100%;
  padding: 0.5rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__item--colors {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
/* Nav Modes */
.main .content__nav--modes {
  flex-wrap: wrap;
  margin: 1rem auto;
}
.main .content__nav--modes .nav__btn {
  width: 6rem;
  padding: 9px;
  margin: 2px;
  font-size: 1.3rem;
  font-weight: 600;
  transition: all 400ms;
}
.main .content__hero {
  position: relative;
  height: 70%;
}

@media only screen and (min-width: 701px) {
  .main .content__item--colors {
    margin: 1rem 0;
  }
  .main .content__nav--modes {
    display: inline-flex;
    flex-flow: nowrap column;
    align-items: center;
    float: left;
    width: 20%;
    height: 50%;
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Item
 *
 *
 */

.main__content .item__label--title {
  display: block;
  width: 100%;
  margin: 12px;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
}
.main__content .item__input {
  width: 4rem;
  margin: 0 2px;
  cursor: pointer;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Hero
 *
 *
 */

.main__content .hero__input {
  position: absolute;
  top: 0;
  right: 0;
  font-family: inherit;
  font-size: 1rem;
  text-align: center;
  border: 3px solid var(--color-secondary);
  border-radius: 5px;
}
.main__content .hero__btn--clear {
  position: absolute;
  bottom: -1rem;
  left: 50%;
  width: 4.5rem;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  background-color: white;
  border: 3px solid var(--color-secondary);
  border-radius: 12px;
  transform: translateX(-50%);
}
/* Hero Content */
.main__content .hero__content {
  position: absolute;
  display: grid;
  width: 100%;
  height: 100%;
  border: 1rem solid var(--color-secondary);
  border-radius: 5px;
  background-color: white;
  cursor: url("../images/brush.cur"), auto;
}
.main__content .hero__content .square {
  border: 1px solid black;
}

@media only screen and (min-width: 701px) {
  .main__content .hero__input {
    right: 10%;
  }
  .main__content .hero__btn--clear {
    transform: translateX(0);
  }
  .main__content .hero__content {
    display: inline-grid;
    width: min(70%, 900px);
  }
}
