*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
}
body {
  background-color: rgb(214, 214, 214);
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
:root {
  --color-primary-border: #000;
  --color-primary-btn: #efefef;
  --color-primary-btn--hover: #cfcfcf;
  --color-secondary-btn: #fd9373;
  --color-secondary-btn--hover: #e78669;
}

/* Content */

/* 
 * Main 
 *
 *
 *
 */

.main {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-size: 1rem;
}
.main__title {
  font-size: 3.2em;
  text-align: center;
}
.btn--clear {
  display: block;
  margin: 5px auto;
  font-size: 1.3em;
  border: 2px solid var(--color-primary-border);
  background-color: var(--color-primary-btn);
  cursor: pointer;
}

/* 
 * 
 * Selection
 *
 *
 */

.selection {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 5px auto;
  font-size: 1em;
}
.selection__btn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  padding: 2px;
  margin: 5px;
  font-size: 1em;
  border: 2px solid var(--color-primary-border);
  background-color: var(--color-primary-btn);
  cursor: pointer;
  transition: all 700ms;
}
.selection__btn:hover {
  background-color: var(--color-primary-btn--hover);
}
.selection__btn--active {
  background-color: var(--color-secondary-btn);
}
.selection__btn--active:hover {
  background-color: var(--color-secondary-btn--hover);
}

/* Sketchpad */
.sketchpad {
  display: grid;
  width: 100%;
  height: 70%;
  border: 2px solid var(--color-primary-border);
  background-color: #fff;
  cursor: url("/assets/images/brush.cur"), auto;
}

/* 
 * 
 * Options
 *
 *
 */

.options {
  padding: 5px;
  font-size: 1em;
}
.options__title {
  margin: 5px;
  font-weight: 700;
  font-size: 1.7em;
  text-decoration: underline;
}
.options__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 12px auto;
  font-size: 1.1em;
  border: 2px solid var(--color-primary-border);
}
.options__item {
  padding: 5px;
}
.options__label {
  display: inline-block;
  width: 70%;
}
.options__input {
  width: 15%;
  margin: 12px auto;
  text-align: center;
  cursor: pointer;
}

/* Class modifiers */
.bold {
  font-weight: 600;
}
