/* Universal styles */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
}
body {
  background-color: rgb(214, 214, 214);
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
img,
embed,
object,
video,
iframe {
  max-width: 100%;
  height: auto;
}
/* CSS varaibles */
:root {
  --main-border-color: #000;
  --button-background-color: #efefef;
  --button-hover-background-color: #797979;
}
/* Content */
#main {
  width: 90%;
  height: 100%;
  margin: 12px auto;
  font-size: 1rem;
}
#title {
  font-size: 3.2em;
}
/* Buttons */
.btn {
  width: 5rem;
  border: 1px solid #000;
  margin: 5px;
  font-size: 1em;
  background-color: var(--button-background-color);
  cursor: pointer;
}
.btn--active {
  background-color: var(--button-hover-background-color);
}
#btn--clear {
  display: inline-block;
  margin: 12px auto;
  font-weight: 700;
  font-size: 1.1em;
}
.btn-selection {
  display: inline-flex;
  width: 80%;
  justify-content: center;
  margin: 12px auto;
  font-size: 1.2em;
}
/* Sketchpad */
#sketchpad {
  display: grid;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
  height: 70%;
  border: 2px solid var(--main-border-color);
  background-color: #fff;
  cursor: url("/assets/images/brush.cur"), auto;
}
/* Inputs */
.ipt-selection {
  padding: 5px;
  margin: 12px;
  font-size: 1rem;
}
.ipt-selection h2 {
  margin: 2px;
  font-weight: 700;
  font-size: 1.7em;
  text-decoration: underline;
}
.ipt-selection .container {
  display: grid;
  grid-template-columns: 300px 200px;
  grid-row-gap: 12px;
  grid-auto-rows: 1fr;
  width: 90%;
  margin: 12px auto;
  font-size: 1.1em;
}
.ipt-selection .container input {
  width: 30%;
  text-align: right;
  cursor: pointer;
}
