*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
}
body {
  background-color: #d6d6d6;
}
nav,
button,
a {
  min-width: 48px;
  min-height: 48px;
}
/* prettier-ignore */
img, embed,
object, video,
iframe {
   max-width: 100%;
   height: auto;
}
:root {
  --color-primary-btn: #efefef;
  --color-primary-btn-hover: #cfcfcf;
  --color-secondary-btn: #fd9373;
  --color-secondary-btn-hover: #e78669;
}

/*
================================
 Content

================================
*/

/* General elements */

/* Button */
.btn {
  cursor: pointer;
  background-color: var(--color-primary-btn);
  border: 2px solid black;
}
.btn:hover {
  background-color: var(--color-primary-btn-hover);
}
.btn--active {
  background-color: var(--color-secondary-btn);
}
.btn--active:hover {
  background-color: var(--color-secondary-btn-hover);
}
/* Nav */
.nav {
  display: flex;
  justify-content: center;
}

/* Class modifiers */
.bold {
  font-weight: 600;
}

/* 
 *
 * Head
 *
 *
 */

.head {
  width: 100%;
}
.head__label {
  margin: 1rem;
  font-size: 3rem;
  text-align: center;
}

/* 
 *
 * Main
 *
 *
 */

.main {
  width: 100%;
  height: 80%;
}
.main__content {
  height: 100%;
  padding: 1rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 *
 */

.main .content__btn--clear {
  display: block;
  margin: 5px auto;
  font-size: 1.3rem;
}
.main .content__nav {
  width: 100%;
  margin: 5px auto;
}
.main .content__hero {
  display: grid;
  width: 100%;
  height: 70%;
  border: 2px solid black;
  background-color: white;
  cursor: url("/assets/images/brush.cur"), auto;
}
.main .content__foot {
  padding: 1rem;
}

@media only screen and (min-width: 701px) {
  .main .content__nav {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 20%;
    height: 50%;
  }
  .main .content__hero {
    display: inline-grid;
    width: min(70%, 900px);
  }
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Nav
 *
 *
 */

.main .content .nav__btn {
  flex-grow: 1;
  max-width: 8rem;
  width: 50%;
  padding: 2px;
  margin: 5px;
  font-size: 1rem;
  transition: all 400ms;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Foot
 *
 *
 */

.main .content .foot__label--title {
  margin: 5px;
  font-size: 1.7rem;
  font-weight: 700;
  text-decoration: underline;
}
.main .content .foot__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  margin: 12px auto;
  border: 2px solid black;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Foot
 *
 * * * * * * * Container
 *
 *
 */

.main .content .foot .container__item {
  padding: 0.5rem;
}

/* 
 *
 * Main
 *
 * * * Content
 *
 * * * * * Foot
 *
 * * * * * * * Container
 *
 * * * * * * * * * Item
 *
 *
 */

.main .content .foot .container .item__label {
  display: inline-block;
  width: 70%;
}
.main .content .foot .container .item__input {
  display: inline-block;
  width: 10%;
  margin: 12px auto;
  text-align: center;
  cursor: pointer;
}

@media only screen and (min-width: 701px) {
  .main .content .foot .container .item__input {
    font-size: 1rem;
    max-width: 9rem;
  }
}
